.container-top {
  display: flex;
  width: 100%;
  height: 8rem;
  background-image: radial-gradient(
    circle,
    #0a0a6d,
    #09096c,
    #09096a,
    #080869,
    #080868,
    #261b74,
    #3b2d80,
    #4d3f8c,
    #7569a7,
    #9d94c3
  );
}

.container-top > .link-menu {
  width: 21%;
  height: 60%;
  text-decoration: none;
}
.icon-cart {
  position: absolute;
  top: 0;
  right: 1.5%;
  z-index: 2;
}
.icon-shop {
  position: absolute;
  right: 6%;
}

.icons {
  top: 1rem;
  color: white;
}
.icons:hover {
  /* color: gray; */
  opacity: 0.5;
}

.number-icon {
  display: flex;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  background: red;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 0.2rem;
  right: 1.3%;
  z-index: 1;
  cursor: pointer;
}
@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}
